<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>610168404886-1udb9ij1v2a2vgl8uactc43ir5ib5jep.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.610168404886-1udb9ij1v2a2vgl8uactc43ir5ib5jep</string>
	<key>API_KEY</key>
	<string>AIzaSyAywYQ2AYBJpJlXGSZ8MfCJEy5BlrN4r4k</string>
	<key>GCM_SENDER_ID</key>
	<string>610168404886</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Mikita.Glavinski.PhotoMap</string>
	<key>PROJECT_ID</key>
	<string>photomap-a1cd9</string>
	<key>STORAGE_BUCKET</key>
	<string>photomap-a1cd9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:610168404886:ios:f7976bda141e9606aebbb7</string>
</dict>
</plist>